/* 상단 메뉴바 서치  css */
* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: wheat;
}


.search {
    border-style: none;
    border-bottom: solid 1px #cacaca;
    border-collapse: collapse;
    width: 250px;
    margin-left: 40px;
    outline: none;
}

.table_bottom {
    background-color: black;
    color: wheat;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.table_bottom td {
    padding: 10px;

}